body{
    font-family: cursive;
    background-color: rgb(0, 0, 78);
}

h1 { color: rgb(4, 111, 0);
text-align: center;}

#chicken{
    background-color: pink;
}

#beef{
    background-color: yellow;
}

#sushi{
    background-color: orange;
}

section{
    position: relative;
    padding-top: 25px;
    background-color: rgb(0, 191, 127);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 3px;
    box-sizing: border-box;
}

.section-title{
    position: absolute;
    top: 0;
    right: 0;
    background-color: aqua;
    border-style: solid;
    border-color: black;
    border-width:  0px 0px 1px 1px;
}

@media (min-width: 992px) {
    .col-lg-4{
        float: left;
        width: 32%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
        float: left;
        width: 49%;
    }
    .col-md-12{
        clear:both;
    }
}

@media (max-width: 767px) {
    .col-sl-12{
        float: left;
        width: 99%;
    }
}
